@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen&family=Oxygen+Mono&display=swap");

body[data-theme="dark"] {
  @import "/src/scss/dark-slider.scss";

  .slider-tab {
    background-color: #171717;
  }

  .title-styles {
    color: white;
  }

  .header-icon {
    color: #bf1d1d;
    opacity: 0.23;
  }

  .slider-image {
    border: 5px solid #8c8c8c;
  }

  .language {
    background-color: #494949;
  }

  .link-href {
    color: white;
  }

  .project-date {
    background-color: #918e97;
    color: white;
  }

  header {
    background-color: #171717;
    h1 {
      color: #bf1d1d;
      opacity: 0.23;
      letter-spacing: 7px;
      font-family: "Bebas Neue", cursive;
    }
  }

  #about {
    background-color: #7f7f7f;
    h1 span {
      color: #fff;
    }
    .polaroid span {
      background: #6d6d6d;
    }
    .card {
      background: #6d6d6d;
      color: white;
    }
  }

  #portfolio {
    background-image: url(https://images.unsplash.com/photo-1603366615917-1fa6dad5c4fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);
    .section-title {
      color: white !important;
    }
    .foto div {
      background: #6d6d6d;
    }
    .project-title-settings {
      color: white;
    }
  }

  #resume {
    filter: brightness(80%);
    background: #5b5b5b;
    .section-title {
      color: #fff !important;
    }

    .experience-badge {
      background: #bf1d1d !important;
      color: white;
    }

    .main-badge {
      background: #bf1d1d !important;
    }

    .vertical-timeline-element-date {
      color: #bf1d1d;
    }

    .vertical-timeline-element-icon {
      background: #bf1d1d !important;
    }
    @media only screen and (max-width: 1169px) {
      .vertical-timeline-element-date {
        color: black;
      }
    }
  }

  .modal-inside .modal-content {
    background: #5b5b5b;
    color: white;
  }

  .close-icon {
    color: white;
  }
}
